/* Estilo general */
body {
  padding: 0;
  background-color: gray;
  font: 0.8em Verdana, Arial, Helvetica, sans-serif;
}
body,
h1,
h2,
p {
  margin: 0;
}
img {
  width: 100%;
}
div.contenedor {
  width: 940px;
  margin: 20px auto 0 auto;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}
/* El encabezado */
header.arriba {
  margin: 0 0 10px 0;
  padding: 5px;
  background-color: gray;
  border-radius: 10px;
}
header.arriba h1,
header.arriba h2 {
  color: white;
}
/* El menú de navegación */
nav.menu-navegacion {
  margin: 0 0 10px 0;
  padding: 5px;
  background-color: silver;
  border-radius: 10px;
}
nav.menu-navegacion p {
  color: white;
}
nav.menu-navegacion a {
  text-decoration: none;
  color: white;
}
/* El contenido principal */
section.contenido {
  float: left;
  width: 720px;
  padding: 5px;
}
article {
  margin: 0 0 20px 0;
  border-top: 1px dotted #333;
}
/* La columna lateral */
aside.sidebar {
  float: left;
  width: 190px;
  margin: 0 0 0 10px;
  padding: 5px;
  border-radius: 5px;
  background-color: #e8e8e8;
}
aside.sidebar p {
  text-align: center;
}
/* El pie de página */
footer.piedepagina {
  padding: 5px;
  border-radius: 5px;
  background-color: #e8e8e8;
  clear: both;
}
footer.piedepagina p {
  text-align: center;
  font-size: 0.75em;
}

/*------------------------------ MY CODE --------------------------------------------*/

@media (max-width: 760px) {
  body {
    background-color: white;
  }

  div.contenedor {
    position: relative;
  }

  header.arriba {
    background-color: black;
    color: white;
  }

  section,
  aside {
    float: none;
  }

  img {
    display: none;
  }

  h1 {
    font-size: 2.5em;
  }
}
