* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
}

.main-nav, main {
  display: flex;
}

.nav-links,
.logo {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  margin-right: 40px;

}

.main-nav li {
  text-align: center;
  margin: 15px auto;
  list-style: none;
  margin-right: 10px;
}

.logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
}

#chkToggle, .navbar-toggle, #chkToggle:checked + ul.main-nav  {
  display: none;
}

aside {
  padding: 10px;
}

h3 {
  padding: 10px;
}

@media screen and (max-width: 900px) {

  img {
    display: none;
  }
  
  .main-nav {
    flex-direction: column;
  }
  
  .navbar-toggle {
    display: block;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    font-size: 24px;
  }
  
  #chkToggle:checked + ul.main-nav {
    display: none;
  }

  .navbar, .main-nav {
    display: block;
  }
}
