.note {
    background-color: AliceBlue;
    border: 1px solid #777;
    box-shadow: 4px 4px 2px #333;
    margin: 10px;
    padding: 5px;
}

p::first-letter {
    color: red;
}


/** -------------------- */

body {
    counter-reset: div p;
}

div::before {
    counter-increment: div;
    content: "Div nº "counter(div)": ";
}

p::before {
    counter-increment: p;
    content: "Párrafo nº "counter(p)": ";
}