:root{
    --wi-he:50px;
    --trst:transform 2s ease;
}
.pelota{
    width: var(--wi-he); 
    height: var(--wi-he);
    position: relative;
    top:  -160px;
    left:100px ;
    transition: var(--trst);
    transform: translate(0%, 200%);

}

.raqueta{
    transform: rotate3d(1,1,-1,180deg);
    transition: var(--trst);
}