$TextColor: #eee;
$TextHoverColor: #fff;
$BackgColor: #666;
$BackgHoverColor: #888;

@mixin colours {
  color: $TextColor;
  background-color: $BackgColor;
}

@mixin HoverColours {
  color: $TextHoverColor;
  background-color: $BackgHoverColor;
}

@mixin BoxSizing($param) {
  -webkit-box-sizing: $param;
  -moz-box-sizing: $param;
  box-sizing: $param;
}

@mixin transitions($property, $duration, $timing: linear) {
  -moz-transition: $property $duration $timing;
  -webkit-transition: $property $duration $timing;
  transition: $property $duration $timing;
}

@mixin animations($name, $duration, $timing: linear) {
  -moz-animation: $name $duration $timing;
  -webkit-animation: $name $duration $timing;
  animation: $name $duration $timing;
}

@keyframes iluminar {
  from {
    background-color: $BackgColor;
    color: $TextColor;
  }
  to {
    background-color: $BackgHoverColor;
    color: $BackgHoverColor;
  }
}

footer {
  @include colours();
  @include BoxSizing(border_box);
  position: absolute;
  width: 100%;
  bottom: 0px;
  padding: 5px;
}

body {
  padding: 0px;
  margin: 0px;
}

header {
  padding: 12px 30px;
  font-size: 1.8em;
  color: #444;
  background-color: #eee;
  font-weight: bold;
  text-shadow: 1px 1px 2px #aaa;
  font-family: Georgia, "Times New Roman", Times, serif;
}

@import "menu";
