$icons: (
  (icon-menu, "../images/menu.png", 0px, -90px, 30px, 39px),
  (icon-news, "../images/news.png", 0px, -90px, 30px, 39px),
  (icon-money, "../images/money.png", +5px, +5px, 60px, 60px),
  (icon-contact, "../images/contact.png", 5px, -90px, 30px, 39px)
);

%button-block {
  box-sizing: border-box;
  width: 100%;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid transparent;
  cursor: pointer;
}

%input-block {
  box-sizing: border-box;
  width: 100%;
  border-radius: 5px;
  padding: 5px 10px;
  border: 1px solid #bbb;
}

div {
  &#contenido {
    padding: 30px 20px;
  }

  &.col-left {
    box-sizing: border-box;
    width: 30%;
    float: left;
    padding: 10px;

    .login {
      input {
        @extend %input-block;
      }
      button {
        @extend %button-block;

        @if $theme == "light" {
          background-color: darken($BackgColor, 10%);
          color: $TextColor;
        } @else {
          background-color: lighten($BackgColor, 20%);
          color: $TextColor;
        }

      }
    }
    @include responsive("small") {
      float: none;
      width: 100%;
    }
  }

  &.col-right {
    box-sizing: border-box;
    margin-left: 30%;
    width: 70%;
    padding: 10px;

    h1 {
      color: $TittleColor;
      font-size: 1.6em;
    }

    @include responsive("small") {
      margin-left: 0;
      width: 100%;
    }
  }

  .button-action {
    background-color: $BackgColor;
    color: white;

    &:hover {
      background-color: lighten($BackgColor, 20%);
    }
  }

  @include responsive("medium") {
    padding: 10px 20px;
  }
}

i {
  display: inline-block;
}

@each $name, $image, $x, $y, $height, $width in $icons {
  .#{$name} {
    background-image: url("#{$image}");
    background-position: $x $y;
    height: $height;
    width: $width;
  }
}
