:root{
  --img: url(palmera.svg);
  --img2: url(sol.svg);
  --cen:center;
  --nr:no-repeat;
}


div{
  display: inline-block;
  margin: 30px;
}

.mascara-0 {  
  mask:var(--img2) var(--cen) / 50%  var(--nr); 
    -webkit-mask:var(--img2) var(--cen) / 50%  var(--nr);
}

.mascara-1 {
  object-fit: cover;
  mask-image:var(--img);
    -webkit-mask-image:var(--img);
  mask-size:50px 50px;
    -webkit-mask-size:50px 50px;
}

.mascara-2 {
  mask-image: var(--img),var(--img);
    -webkit-mask-image: var(--img),var(--img);
}

.mascara-3 {
  mask:var(--img) var(--cen) / 75% repeat-y;
    -webkit-mask:var(--img) var(--cen) / 75% repeat-y;
}

.mascara-4 {
  mask:var(--img2) top / 150px var(--nr), var(--img2) bottom / 280px var(--nr);
  -webkit-mask:var(--img2) top / 150px var(--nr), var(--img2) bottom / 280px var(--nr);
}