.all_boxes{
    display: inline-flex;
    flex-wrap: wrap;
}

.box{
    border: 1px solid black;
    color: white;
    margin: 10px;
    background-color:rgb(255, 94, 0);
    width: 200px;
    text-align: center;
    font-size: 15px;
    padding: 0px 10px 30px 10px;
}